
/*Login*/
.login-form{
    margin: 40px 0;
}

.login-token{
    background-color: #53b1ed;
    height: 330px !important;
}

.login-email{
    background-color: #1c2231;
    height: 350px !important;
}
.login-logo-text{
    color: white;
    margin: 30px 0 !important;
}

.label-login{
    color: white !important;
    font-size: 1.1rem !important;
}

.btn-login{
    margin-left: 70px !important;
}

.input-login{
    margin: 60px 0 0;
}

.hr-login{
    padding: 5px;
    background-color: #53b1ed;
    border: none;
    width: 35%;
    border-radius: 5px;
}

.text-register{
    font-size: 1.2rem !important;
    text-transform: uppercase;

}

/*How Works*/
.itens-list{
    margin-top: 35px;
    margin-bottom: 35px;
}

.itens-list p {
    font-size: 1.4rem;
    font-weight: 400;
}




