<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>ServiceBook</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../../static/libraries/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../../../static/resources/styles/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="city-registration.html">Cidade</a></li>
    <li><a href="profession-registration.html">Profissão</a></li>
  </ul>
  <nav class="nav-main" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="city-registration.html" class="brand-logo">
        <svg class="logo-icon left" style="width: 50px;height:50px" viewBox="0 0 24 24">
          <path class="primary-color-icon" d="M21.71 20.29L20.29 21.71A1 1 0 0 1 18.88 21.71L7 9.85A3.81 3.81 0 0 1 6 10A4 4 0 0 1 2.22 4.7L4.76 7.24L5.29 6.71L6.71 5.29L7.24 4.76L4.7 2.22A4 4 0 0 1 10 6A3.81 3.81 0 0 1 9.85 7L21.71 18.88A1 1 0 0 1 21.71 20.29M2.29 18.88A1 1 0 0 0 2.29 20.29L3.71 21.71A1 1 0 0 0 5.12 21.71L10.59 16.25L7.76 13.42M20 2L16 4V6L13.83 8.17L15.83 10.17L18 8H20L22 4Z" />
        </svg>
        <h4 class="left logo-text">ServiceBook</h4>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a class="menu-itens dropdown-trigger" href="#!" data-target="dropdown1">CADASTRAR<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="menu-itens" href="javascript: alert('minha conta')">MINHA CONTA</a></li>
        <li><a class="menu-itens" href="../../index.html">SAIR</a></li> 
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a class="menu-itens" href="city-registration.html">CADASTRAR CIDADE</a></li>
        <li><a class="menu-itens" href="profession-registration.html">CADASTRAR PROFISSÃO</a></li>
        <li><a class="menu-itens" href="javascript: alert('minha conta')">MINHA CONTA</a></li>
        <li><a class="menu-itens" href="../../index.html">SAIR</a></li>
        
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>



  <main>
    <div class="container">
      <div class="section">
  
        <!--   Icon Section   -->
        <div class="row">
          
          <h3 class="center secondary-color-text range-quantity">Cadastro de Cidade</h3>

  
          <form>
            <div class="row center range-quantity">
              <div class="col s4 offset-s4">
                <select id="select-state" class="white-text select-city">
                  <option value="PR" selected><p class="white-text">Paraná</p></option>
                  <option value="SC"><p>Santa Catarina</p></option>
                  <option value="RG"><p>Rio Grande do SUl</p></option>
                  <option value="SP"><p>São Paulo</p></option>
                </select>
              </div>
              <div class="col s4 offset-s4 input-field">
                  <div class="row">
                    <div class="input-field  col s12">
                      <i class="material-icons prefix primary-color-text">location_city</i>
                      <input placeholder="Alabasta" type="text" id="autocomplete-input" name="" class="autocomplete" pattern="/^[A-Za-z]$">
                      <label for="autocomplete-input">Cidade</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s6 m6 spacing-buttons">
                    <div class="center">
                      <a class="waves-effect waves-light btn btn-gray" href="javascript: alert('Voltou')">Voltar</a>
                    </div>
                 </div>
                 <div class="col s6 m6 spacing-buttons">
                  <div class="center">
                    <a class="waves-effect waves-light btn" href="javascript: alert('Cadastrado')">Cadastrar</a>
                  </div>
               </div>
              </div>

            </div>
          </form>

         
  
        </div>
  
      </div>
    </div>
  </main>

  <footer class="page-footer">

    <div class="footer-copyright">
      <div class="container">
      <p class="center">© Copyright 2021 - ServiceBook - Todos os direitos</p>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../../static/libraries/materialize/js/materialize.min.js"></script>
  <script src="../../../static/resources/scripts/init.js"></script>
  <script src="../../../static/resources/scripts/main.js"></script>
  <script src="../../../static/resources/scripts/cities.js"></script>


  </body>
</html>
