.active-profission{
    border: #00b0ff 2px solid;
    padding: 20px;
}
/*LABEL DOS CAMPOS*/
.label-ads{
    /*margin-top: 5% !important;*/
    margin: 0 !important;
    font-size: .75rem !important;
}

/*MEUS ANUNCIOS*/
.card .card-content{
    padding: 13px !important;
}
.label_price{
    /*background-color: #333333;*/
    background-color: #81C5F3;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    padding: 5px;
}
.label_duration{
    /*background-color: #333333;*/
    background-color: #81C5F3;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    padding: 5px;
}
.label_especialidade{
    background-color: #333333;
    margin: 0;
    color: white;
    font-weight: bold;
    text-align: center;
}

.div_cards_services{
    margin: 10px 0 30px;
}

.btn_view{
    /*float: right;*/
    float: right;
    color: #1194e5 !important;
    font-weight: bold;
}
/*.card{*/
/*    height: 100%;*/
/*}*/

#show-service-combined{
    margin-top: 45px;
}
#add-service-combined{
    height: 3rem;
    line-height: 3rem;
    width: 100%;
}

.texto-com-elipse {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

.ads-price-label{
    border: none !important;
    color: black !important;
}


/*CADASTRO*/
.div_text_section{
    margin: 5px 5px 0 !important;
    font-weight: bold;
}
