.city-name {
    width: 100%;
    padding: 10px;
    background-color: #f5f5f5;
    color: #0d47a1;
}

.cityNameContent {
    display: flex;
    justify-content: start;
}
.expanded {
    transform: rotate(180deg);
}

#painel {
    padding: 0;
}

#togleCityId {
    cursor: pointer;
    margin-left: 1.2em;
}

@media screen and (max-width: 600px) {
    .cityNameContent {
        justify-content: space-between;
    }
}