
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.no-padding{
  padding: 0;
}

.no-margin{
  margin: 0px !important;
}

p {
  line-height: 2rem;
}

.menu-itens{
  margin-top: 15px;
  color: #53b1ed;
}

/* text colors */

.primary-color-text{
  color: #53b1ed;
}

.secondary-color-text{
  color: #1c2231;
}

.tertiary-color-text{
  color: #3f51b5;
}

.facebook-color-text {
  color: #3A69B1;
}

.grey-text{
  color: rgb(117, 117, 117) !important;
}

.dark-color-text{
  color: rgb(51, 51, 51);
}

.primary-background-color{
  background-color: #81c5f3;
}

.secondary-background-color{
  background-color: rgb(51, 51, 51);
}

.tertiary-background-color{
  background-color: rgb(28, 34, 49);
}

/* icons colors */
.primary-color-icon{
  fill: #53b1ed;
}

.secondary-color-icon{
  fill: #1c2231;
}

.tertiary-color-icon{
  fill: #3f51b5;
}

.dark-color-icon{
  fill: rgb(51, 51, 51);
}

.spacing-standard{
  margin-top: 40px;
  margin-bottom: 40px;
}

.spacing-buttons{
  margin-top: 15px;
  margin-bottom: 30px;
}

.login-form{
  margin: 40px 0;
}

.login-token{
  background-color: #53b1ed;
  height: 330px !important;
  /*padding: 10px !important;*/
}

.login-email{
  background-color: #1c2231;
  height: 330px !important;
}
.login-logo-text{
  color: white;
  margin: 30px 0 !important;
}

.label-login{
  color: white !important;
  font-size: 1.1rem !important;
}

.btn-login{
  margin-left: 70px !important;
}

.input-login{
  margin: 60px 0 0;
}
.area-msg-email{
  background-color: #53b1ed;
  border: solid 2px #1c2231;
  padding: 35px !important;
}
.hr-login{
  padding: 5px;
  background-color: #53b1ed;
  border: none;
  width: 35%;
  border-radius: 5px;
}

.text-register{
  font-size: 1.2rem !important;
  text-transform: uppercase;

}

.logo-icon{
  margin-top: 15px;
  margin-bottom: 15px;
}

blockquote{
  border-left: 8px solid #53b1ed;
}

.logo-text{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin-top: 20px;
  margin-left: 18px;
  margin-bottom: 15px;
  text-shadow:  4px 4px 4px #FFF, -4px -4px 4px #FFF, 4px -4px 4px #FFF, -4px 4px 4px #FFF, 2px 2px 0 #FFF, 2px -2px 0 #FFF, -2px 2px 0 #FFF, -2px -2px 0 #FFF, 2px 0px 0 #FFF, 0px 2px 0 #FFF, -2px 0px 0 #FFF, 0px -2px 0 #FFF;
  font-weight: 800;
  color: #53b1ed;
}

.btn, .btn-large, .btn-small {
  background-color: #3f51b5;
}

.btn-gray{
  color: #1c2231;
  background-color: #cccccc;
}

.btn-gray:hover{
  color: #1c2231;
  background-color: #bbbbbb !important;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #5164ce;
}

.select-wrapper{
  margin-left: auto;
  margin-right: auto;
}

.itens-list{
  margin-top: 35px;
  margin-bottom: 35px;
}

.itens-list p {
  font-size: 1.4rem;
  font-weight: 400;
}

.select-wrapper .caret {
  z-index: 1;
  fill: white;
}

.select-wrapper input.select-dropdown {
  background-color: #3f51b5;
  border: none;
  color: white;
  font-weight: 600;
  padding-left: 20px;
}



.area-profission-select  .select-wrapper input.select-dropdown {
  text-align: center;
  padding-left: 0px !important;
}

.area-profission-select .select-wrapper .dropdown-content li>span {
  text-align: center !important;
}

.dropdown-content {
  background-color: #fff;
  top: 0px !important;
  margin-top: 43px !important;
}

.dropdown-content li span {
  color: #1c2231;
}

.nav-main{
  height: 80px;
  background-color: #1c2231;
  color: #53b1ed;
}
.endereco-area{
  border: solid #53b1ed 2px;
  border-radius: 20px;
}

.parallax-container {
  min-height: 480px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  background-color: rgba(0, 0, 0, 0.4);
}
.parallax-container .section {
  width: 100%;
}

.text-form-dados{
  font-size: 130%;
}

input[type=text]:focus{
  border-bottom: 1px solid #53b1ed !important;
}

input[type=range]{
  height: 8px;
}

input[type=range] + .thumb {
  background-color: #53b1ed !important;
}
input[type=range]::-webkit-slider-thumb{
  width: 20px;
  height: 20px;
  background-color: #53b1ed !important;
}

input[type=range]::-webkit-slider-runnable-track{
  height: 5px;
}

.area-type-service{
  border-radius: 10px;
  height: 300px;
  padding: 15px;
  resize: none;
}
.area-type-service:focus{
  outline: none !important;

  border: solid 2px #53b1ed;
  box-shadow: 0 0 10px #719ECE;
}

.card-request{
  color: white;
  font-size: 130%;
  background-color: #53b1ed;
  padding: 15px;
}

.badge-requests{
  width: 75%;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  font-size: 2rem;
  border-radius: 15px;
  background-color: #1c2231;
  border: solid white 4px;
}
.text-detail-request p, .text-info-request.description-orcamento p, .text-info-request.description-job p{
  line-height: 1.4rem;
}
.text-info-request{
  font-weight: 600;
  font-size: 130%;
}

.text-info-request.description-orcamento p{
  font-weight: 500;

}
.text-info-request.description-job p{
  font-weight: 400;
}
.star-icons.candidate {
  margin: 0;
  padding: 0;
}
.check-circle-candidate i{
  font-size: 2em;
}
.hr-request-area{
  height: 7px;
  background-color: #333;

}

.star-icons{
  margin-top: 20px;
  padding-right: 40px;
}

.star-icons .material-icons{
  padding-left: 5px;
  width: 15px;
}

.icon-like-area-request{
  padding-right: 5px;
}

.card-resquest-first{
  padding: 0;
  border: rgb(162, 116, 60) 10px solid;
  background-color: #53b1ed;
  color: white;
}

.card-candidate {
  padding: 0;
  border: #3f51b5 10px solid;
  color: white;
}

.card-candidate  .title-card-resquest p{
  padding: 0 15px;
  text-transform: uppercase;
}

.card-resquest{
  padding: 0;
  border: #3f51b5 10px solid;
  color: #1c2231;
}

.title-card-resquest{
  height: 35px;
  background-color: #1c2231;
  font-size: 140%;
  font-weight: 600;
  color: white;
}

.contact-item{
  font-size: 120%;
  padding-left: 10px;
}

.area-detail-contact{
  background-color: #53b1ed;
}


footer.page-footer {
  background-color: #1c2231;
  margin: 0;
}

.none-profission{
  border: black 2px dashed;
  padding: 20px;
}
.active-profission{
  border: #00b0ff 2px solid;
  padding: 20px;
}

.selected-profission{
  border: #1c2231 2px solid;
  padding: 15px;
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  top: 40px;
  left: 11px;
  width: 25px;
  height: 28px;
  border: 3px solid #5a5a5a;
}
[type="checkbox"]:checked+span:not(.lever):before {
  top: 44px;
  left: 6px;
  width: 17px;
  height: 27px;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid #00b0ff;
  border-bottom: 3px solid #00b0ff;
}
.icon-person{
  margin-top: -30px;
  width:250px;
  height:250px;
}

.edit-link{
  margin-top: -30px;
}

.area-perfil{
  margin-bottom: 0px;
}

.name-header{
  padding: 25px;
}

.name-header.client{
  text-transform: uppercase;
}
.icons-area-request.client {
  margin-top: 20px;
}
.info-headers{
  padding: 12px;
}

.header-verification {
  padding: 20px;
  padding-bottom: 0;
  margin-top: 0;
  color: #2d2c2c;
  font-weight: 700;
  margin-bottom: 0px;
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: rgba(63 81 181 0) !important;
  color: #333333;
  font-weight: 600;
  font-size: 110%;
}
.tabs .tab a {
  color: rgb(63 81 181);
  font-weight: 600;
  font-size: 110%;
}
.tabs .indicator {
  background-color: #333333;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: transparent !important;

}

.badge-service{
  background-color: #81c5f3;
  padding: 6px;
  border-radius: 9px;
}

.area-foto{
  border: solid black 1px;
}

.avatar {
  height: 10rem;
}

.card-body {
  min-height: 23rem;
}

.expertise-label {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  padding: 0.5rem 1rem!important;
  margin: 0.5rem;
}

.upper-case {
  text-transform: uppercase;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.whatsapp-icon {
  height: 2rem;
}

.whatsapp {
  background-image: url("assets/resources/images/whatsapp-logo.png");
}

.p1 {
  padding: 1rem;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.material-icons.middle {
  vertical-align: middle;
  padding-right: 4px;
  font-size: 3rem;
}

.middle-indicator{
  position:absolute;
  top:50%;
}
.middle-indicator-text{
  font-size: 4.2rem;
}
a.middle-indicator-text{
  color:white !important;
}
.content-indicator{
  width: 64px;
  height: 64px;
  background: none;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.carousel.carousel-slider .carousel-fixed-item.with-indicators {
  bottom: 200px;
}

.area-info-request-client-left{
  border-right: #0D47A1 solid 2px;
}
.text-area-info-cli{
  font-size: 1.5rem !important;
}
.show-area-perfil {
  position: absolute;
  left: 20px;
  top: 90px;
}

textarea {
  height: 100%;
  resize: none;
}
.btn-save {
  margin-right: 10px;
}
.formulario {
  display: none;
}
.formulario .btn {
  margin-left: 10px;
}
.exibir {
  cursor: pointer;
}
#ocultar {
  position: relative;
  top: 8px;
  padding: 0 10px;
  font-size: 31px;
  text-decoration: none;
  color: #000 !important;
}

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar .progress {
  margin-right: 1rem;
  margin-top: 14px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

  .text-detail-request{
    text-align: center;
  }
}

.fomate-states-name .select-wrapper .dropdown-content{
  height: 300px;
}

.pagination li.active {
  background-color: #0d47a1;
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .logo-icon {
    display: none;
  }

  .logo-text-parallax {
    display: none;
  }

  .text-detail-request {
    text-align: center;
  }

  .area-info-request-client-left {
    border-right: none;
    border-bottom: #0D47A1 solid 2px;
  }

}


.notice-sms{
  color: rgb(202 138 4);
  background-color: rgb(254 249 195);
  font-size: 0.75em;
  padding: 0 10px;
  width: 75%;
  margin: auto;
  border-radius: 5px;
}

.notice-sms strong {
  font-weight: bolder;
}

#profile-picture {
  margin-bottom: 20px;
  width: 200px;
}

[type="checkbox"].reset-checkbox,
[type="checkbox"].reset-checkbox:checked,
[type="checkbox"].reset-checkbox:not(checked) {
  opacity: 1;
  position: relative;
}

[type="checkbox"].reset-checkbox+span::before,
[type="checkbox"].reset-checkbox+span::after,
[type="checkbox"].reset-checkbox:checked+span::before,
[type="checkbox"].reset-checkbox:checked+span::after {
  display: none;
}
[type="radio"].reset-checkbox+span::before,
[type="radio"].reset-checkbox+span::after,
[type="radio"].reset-checkbox:checked+span::before,
[type="radio"].reset-checkbox:checked+span::after {
  display: none;
}
[type="checkbox"].reset-checkbox+span:not(.lever) {
  padding-left: 10px;
}
[type="radio"].reset-checkbox+span:not(.lever) {
  padding-left: 10px;
}
.ui-helper-hidden-accessible{
  display: none;
}

#ui-id-1{
  /*display: block !important;*/
  background-color: white;
  position: absolute !important;
  top: 210px !important;
  left: 70px !important;
  width: 950px !important;
  height: auto;
  margin: 0;
  padding: 0;
}

#form-expertises input {
  position: absolute;
  left: -9999px;
}

#form-expertises input:checked + span {
  background: #81c5f3;
}

#form-expertises i {
  position: relative;
  top: 5px;
}

.card-expertise {
  padding: 0 !important;
  margin-bottom: 10px;
  border: 1px solid #81c5f3;
  /*height: 50px;*/
  height: 100px;
}

.card-expertise span,
.card-expertise [type="checkbox"]+span:not(.lever){
  width: 100%;
  height: 100px;
  cursor: default;
  font-size: 20px;
  color: #333333;
  padding: 30px 0;
}
.card-expertise span,
.card-expertise [type="radio"]+span:not(.lever){
  width: 100%;
  height: 100px;
  cursor: default;
  font-size: 20px;
  color: #333333;
  padding: 30px 0;
}
.card-expertise-list {
  font-size: 20px;
  margin: 10px;
  border: 1px solid #81c5f3;
}

.card-expertise-list strong {
  text-transform: uppercase;
}

.expertise-icon {
  font-size: 80px;
}
.delete-exerpertise{
  text-align: right;
  height: 50px;
}
.delete-exerpertise-professional i {
  color: grey;
}

.expertise-icon i {
  font-size: 45px;
}
/*.name-expertise{*/
/*  margin: 5px 0;*/
/*}*/

.modal-trigger {
  color: white;
}

.modal-expertise-close {
  background: white;
  border: none;
}

/* swal styles */
.swal-button {
  background-color: #4962B3 !important;
  border: 1px solid #3e549a !important;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

