<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>ServiceBook</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/libraries/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/resources/styles/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="nav-main" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">
        <svg class="logo-icon left" style="width: 50px;height:50px" viewBox="0 0 24 24">
          <path class="primary-color-icon" d="M21.71 20.29L20.29 21.71A1 1 0 0 1 18.88 21.71L7 9.85A3.81 3.81 0 0 1 6 10A4 4 0 0 1 2.22 4.7L4.76 7.24L5.29 6.71L6.71 5.29L7.24 4.76L4.7 2.22A4 4 0 0 1 10 6A3.81 3.81 0 0 1 9.85 7L21.71 18.88A1 1 0 0 1 21.71 20.29M2.29 18.88A1 1 0 0 0 2.29 20.29L3.71 21.71A1 1 0 0 0 5.12 21.71L10.59 16.25L7.76 13.42M20 2L16 4V6L13.83 8.17L15.83 10.17L18 8H20L22 4Z" />
        </svg>
        <h4 class="left logo-text">ServiceBook</h4>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a class="menu-itens" href="pages/login/login.html">ENTRAR</a></li>
        <li><a class="menu-itens" href="pages/professional/professional-registration.html">OFEREÇA SEUS SERVIÇOS</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a class="menu-itens" href="pages/login/login.html">ENTRAR</a></li>
        <li><a class="menu-itens" href="pages/professional/professional-registration.html">OFEREÇA SEUS SERVIÇOS</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h3 class="header center logo-text logo-text-parallax">ServiceBook</h3>
        
        <div class="row center">
        </div>
        <div class="row center">
          <div class="col s10 offset-s1 m4 offset-m4  input-field">
            <select id="select-city" class="white-text select-city">
              <option value="1" selected><p class="white-text">GUARAPUAVA - PR </p></option>
              <option value="2"><p>CURITIBA - PR</p></option>
              <option value="3"><p>SÃO PAULO - SP</p></option>
            </select>
          </div>
        </div>
        <h4 class="header center">O MELHOR PROFISSIONAL QUE VOCÊ PRECISA ESTÁ AQUI!</h4>
        <h4 class="header center">São + de 3000 profissionais cadastrados!</h4>

        <br><br>

      </div>
    </div>
    
    <div class="parallax"><img id="img-city" src="../static/resources/images/guarapuava.jpg" alt="img fundo"></div>
  </div>


  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12">
          <h4 class="center">Bora contratar um profissional para realizar o serviço!</h4>

          <blockquote class="itens-list">
            <p>Descreva o serviço que precisa;</p>
            <p>Informe para quando precisa que o serviço seja realizado;</p>
            <p>Defina o o número máximo de contatos de profissionais que deseja receber;</p>
            <p>Receba uma lista de contatos dos profissionais interessados em realizar o serviço</p>
            <p>Entre em contato com um ou mais destes profissionais para explicar melhor o serviço e saber do orçamento;</p>
            <p>Marque na lista o profissional escolhido para o serviço para que você possa avaliar o serviço posteriorment;</p>
            <p>Pronto!</p>
            <p>O pagamento do serviço é realizado diretamente ao profissional!</p>
          </blockquote>

          <div class="center">
            <a class="waves-effect waves-light btn" href="pages/request-job/01.html">Começar</a>
          </div>

        </div>
      </div>

    </div>
  </div>

  <footer class="page-footer">

    <div class="footer-copyright">
      <div class="container">
      <p class="center">© Copyright 2021 - ServiceBook - Todos os direitos</p>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../static/resources/scripts/main.js"></script>
  <script src="../static/libraries/materialize/js/materialize.min.js"></script>
  
  <script src="../static/resources/scripts/init.js"></script>
  

  </body>
</html>
