<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>ServiceBook</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../../static/libraries/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../../../static/resources/styles/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="nav-main" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="details-contact.html" class="brand-logo">
        <svg class="logo-icon left" style="width: 50px;height:50px" viewBox="0 0 24 24">
          <path class="primary-color-icon" d="M21.71 20.29L20.29 21.71A1 1 0 0 1 18.88 21.71L7 9.85A3.81 3.81 0 0 1 6 10A4 4 0 0 1 2.22 4.7L4.76 7.24L5.29 6.71L6.71 5.29L7.24 4.76L4.7 2.22A4 4 0 0 1 10 6A3.81 3.81 0 0 1 9.85 7L21.71 18.88A1 1 0 0 1 21.71 20.29M2.29 18.88A1 1 0 0 0 2.29 20.29L3.71 21.71A1 1 0 0 0 5.12 21.71L10.59 16.25L7.76 13.42M20 2L16 4V6L13.83 8.17L15.83 10.17L18 8H20L22 4Z" />
        </svg>
        <h4 class="left logo-text">ServiceBook</h4>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a class="menu-itens" href="requests.html">SOLICITAÇÕES</a></li>
        <li><a class="menu-itens" href="javascript: alert('minha conta')">MINHA CONTA</a></li>
        <li><a class="menu-itens" href="../../index.html">SAIR</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a class="menu-itens" href="requests.html">SOLICITAÇÕES</a></li>
        <li><a class="menu-itens" href="javascript: alert('minha conta')">MINHA CONTA</a></li>
        <li><a class="menu-itens" href="../../index.html">SAIR</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <main>
      <div class="section no-padding">
        <div class="row">
          <div class="row no-margin col s12 area-detail-contact">
            <div class="col s12 icons-area-request">
              <div class="row">
               <div class="col s4 star-icons dark-color-text">
                 <i class="material-icons ">star</i>
                 <i class="material-icons">star</i>
                 <i class="material-icons">star</i>
                 <i class="material-icons">star_border</i>
                 <i class="material-icons">star_border</i>
                </div>
                <div class="col s4 center">
                 <i class="material-icons dark-color-text">check_circle</i>
                </div>
                <div class="col s4 right">
                 <div class="right">
                   <span>17</span> <i class="material-icons icon-like-area-request dark-color-text">thumb_up</i>
                 </div>
                </div>
              </div>
               
             </div>
             <div class="col s12 center">
              <svg style="width:200px;height:200px" viewBox="0 0 24 24">
                  <path class="dark-color-icon" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
              </svg>
             </div>
          </div>
          <div class="col s12 no-padding">
             <div class="center title-card-resquest">
               <P class="no-margin">PEDRO DE SOUZA</P>
             </div>
          </div>
          <div class="col s12 m6  text-info-request">
            <p class="contact-item center"><i class="material-icons dark-color-text">email</i> pedro.pedreiro@mail.com</p>
          </div>
          <div class="col s12 m6  text-info-request">
             <p class="contact-item center"><i class="material-icons dark-color-text">phone</i> (42) 9 9999-9090</p>
          </div>
          <div class="col s12">
            <div class="container secondary-color-text  text-info-request">
              <p>Após entrar em contato com o profissional e contratar o serviço, nos informe que foi este o profissional contratado para que você possa avaliá-lo  após a realização do serviço</p>
            </div>
          </div>
          <div class="col s12">
            <div class="container">
              <h4>18 avaliações</h4>
              <blockquote class="cyan lighten-5"><p>Muito bom profissional</p></blockquote>
              <blockquote class="cyan lighten-5"><p>Muito bom profissional</p></blockquote>
              <blockquote class="red lighten-4"><p>pèssimo</p></blockquote>
            </div>
          </div>
          <div class="col s4 offset-s4  spacing-standard">
            <div class="container">
              <div class="row">
                <div class="col s10 offset-s1 m6 spacing-buttons">
                  <div class="center">
                    <a class="waves-effect waves-light btn btn-gray" href="details-request.html">Voltar</a>
                  </div>
               </div>
               <div class="col s10 offset-s1 m6 spacing-buttons">
                <div class="center">
                  <a class="waves-effect waves-light btn" href="javascript: alert('Contratado!')">Contratar</a>
                </div>
             </div>
            </div>
         </div>

        </div>
      </div>
  </main>

  <footer class="page-footer">

    <div class="footer-copyright">
      <div class="container">
      <p class="center">© Copyright 2021 - ServiceBook - Todos os direitos</p>
      </div>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../../static/libraries/materialize/js/materialize.min.js"></script>
  <script src="../../../static/resources/scripts/init.js"></script>
  <script src="../../../static/resources/scripts/main.js"></script>

  </body>
</html>
